@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  box-sizing: border-box;
  --main-font: 'Patrick Hand', cursive;
  --grid-color: rgb(0, 61, 141);
}

body {
  background: url('./bg.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.credit {
  color: white;
  font-family: var(--main-font);
  position: absolute;
  bottom: 1vh;
  left: 1vw;
}

.containers {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.container {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template: repeat(11, 1fr) / repeat(11, 1fr);
}

.topCont,
.sideCont {
  display: flex;
  align-items: end;
  justify-content: space-around;
  font-family: var(--main-font);
  color: whitesmoke;
}

.topCont {
  grid-area: 1 / 2 / 2 / -1;
  padding-bottom: 5px;
}

.sideCont {
  grid-area: 2 / 1 / -1 / 2;
  flex-direction: column;
  padding-right: 5px;
}

.gameboard {
  border: 1px solid var(--grid-color);
  width: 409.91px;
  height: 409.91px;
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  background: whitesmoke;
  position: relative;
}

.grid,
.aigrid {
  border: 1px solid var(--grid-color);
}

.aigrid {
  cursor: pointer;
}

.draggable,
.aiblock {
  background: rgba(1, 73, 167, 0.9);
  cursor: pointer;
  position: absolute;
}

.buttons {
  order: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  font-family: var(--main-font);
  cursor: pointer;
  border: none;
  background: whitesmoke;
  font-size: 1.2rem;
  padding: 0.3rem;
  outline: none;
}

button:hover {
  color: whitesmoke;
  background: var(--grid-color);
  border: none;
}

button:active {
  background: rgb(0, 35, 141);
}

.drag-over {
  border: dashed 1px var(--grid-color);
}

.hide {
  display: none;
}

.hit {
  background: url('./x.jpg');
}

.miss {
  background: url('./dot.jpg');
}

.hit,
.miss {
  background-size: cover;
  background-position: center;
}
